@import url('https://fonts.googleapis.com/css?family=Lato:500|Montserrat:700');


h1,h2,h3,h4,li {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:0;
  width: 100%;
}
p,a {
  font-family: 'Lato', sans-serif;
  margin: 0 0 10px;
  color: #333333;
}
.red-header {
  font-size: 22px;
  margin: 0 0 15px 0;
  color: #b56357;
}
#main, header {
  max-width: 1550px;
  margin: 0 auto;
}
header {
  background: #b56357;
  h1 {
    margin-top: 20px;
    margin: 0 0 20px 0;
    padding: 5px 20px;
    font-size: 44px;
    border-bottom: 2px solid #fff;
  }
}
img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.buttons-wrapper{
  height: 65px;
  .css-change{
    height: 65px;
    width: 218px;
    margin: 0 auto;
    button {
      outline: none;
      height: 50px;
      width: 50px;
      border-radius: 30px;
      margin: 10px;
      &.style1 {
        background-image: url('/images/alt_bckgrd1_thumbnail.jpg');
      }
      &.style2 {
        background-image: url('/images/alt_bckgrd2_thumbnail.jpg');
      }
    }
  }
}
