.hide {
  display: inline-block !important;
  opacity: 0;
}
.show {
  transition: 4s;
  opacity: 1;
}
.player-wrapper {
  background: #a7b3a5;
  height: 520px;
  padding: 10px 0;
  .inner {
    height: 500px;
    .img-container, .visual, .artist-playlist {
      height: 100%;
    }
    .visual {
      position: relative;
      overflow: hidden;
      background: #fff;
      .artist-data {
        &.slide {
          position: absolute;
          left: -100%;
          width: 100%;
          height: 100%;
          background: rgb(144,153,162);
          z-index: 1;
          transition: 1s;
          .inner {
            text-align: center;
            padding: 150px 0;
            h2 {
              margin: 0 0 12px 0;
            }
            .artist-name {
              font-size: 42px;
              font-weight: 900;
            }
            .artist-song {
              font-size: 35px;
            }
            .artist-album {
              font-size: 30px;
            }
          }
          &.animate {
            transition: 1s;
            left: 0;
          }
        }
        &.mini {
          position: absolute;
          .artist-name {
            font-size: 42px;
            font-weight: 900;
          }
          .artist-song {
            font-size: 20px;
            margin: 0 0 6px 0;
          }
          .artist-album {
            font-size: 15px;
          }
        }
      }
      .canvas{
        width: 95%;
        height: 200px;
        position: absolute;
        bottom: 152px;
        -webkit-transform: translateX(12px) rotateX(-30deg) rotateY(30deg);
         transform: translateX(12px) rotateX(-30deg) rotateY(30deg);
        -webkit-box-reflect: below 3px -webkit-linear-gradient(top, transparent, transparent 8%, rgba(255, 255, 255, 0.5));
      }
      &.animate {
        .slide {
          transition: 1s;
          left: 0;
        }
      }
      &.css1 {
        background-image: url('/images/alt_bckgrd1.jpg');
      }
      &.css2 {
        background-image: url('/images/alt_bckgrd2.jpg');
      }
    }
    .artist-playlist {
      .list {
        height: 300px;
        width: 100%;
        padding: 10px 0;
        list-style: none;
        background: #b56357;
        li {
          min-height: 40px;
          // height: 40px;
          padding: 0 10px;
          font-size: 20px;
          line-height: 2;
          background: #4c4c4c;
          color: #d7cec7;
          border-bottom: 1px solid #fff;
          &:hover {
            cursor: pointer;
            transition: 1s;
            color: #b4dbc0;
          }
        }
      }
    }
  }
}

.info {
  height: 185px;
  background: #a7b3a5;
  .bio {
    height: 100%;
    border-right: 1px solid;
    padding: 0;
    #artist-bio {
      margin: 0;
      padding: 20px 20px;
      height: 100%;
      font-size: 18px;
      font-weight: bold;
    }
  }
  .related {
    height: 100%;
    border-left: 1px solid;
    .inner {
      padding: 10px 20px;
      text-align: center;
      .red-header{
        margin: 0 0 5px 0;
      }
      .rel {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
